@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .form-control {
    @apply border outline-none bg-slate-100 rounded-full p-3 w-full
  }
  
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-right: .70rem;
  padding-left: .70rem;
}